!!!
%html
  %head
    %title Queue to Do
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheet.css'}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{:type => 'text/javascript', :src => '/q.js'}
  %body
    #menu_stuff
      #menu_outer
        #menu_bg
          #menu
            %a{:href => '/'} Home
            %a{:href => '/tns'} All
            Completed
            %a{:href => '/upload'} Upload File
          #search
            %form{:method => 'get', :action => '/search'}
              %input{:type => 'textarea', :name => 'q'}
          #flash &nbsp;
    #content
      %table#tns
        %tr.headers
          %th TN
          %th Due
          %th Type
          %th Requestor
          %th Location
          %th Status
        - @tns.each do |t|
          %tr.row{:id => "#{t.id}", :data => {:tn => "#{t.tn}"}}
            %td.tn= t.tn
            %td.dueDate= t.due_date
            %td.requestType= t.request_type
            %td.requestor= t.requestor
            %td.location= t.location
            %td.status= t.status
